<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbKgVPWYThunUg43enG3SeHpy46KZcYV8</string>
	<key>GCM_SENDER_ID</key>
	<string>308306754014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testappfirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-d8752</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-d8752.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308306754014:ios:472b0bef16e3fc4c0fc54f</string>
</dict>
</plist>